# data science core
numpy >= 1.21.0
pandas >= 1.3.0
matplotlib >= 3.4.0
seaborn >= 0.11.0
scipy >= 1.7.0
midiutil >= 1.2.0

# app/gui/sound stuff
tkinter >= 8.6.0
sounddevice >= 0.4.0

# progress bars
tqdm >= 4.62.0